/* *{
    background-color: aqua;} */
body{
    background-color: violet !important;
}



#fondo2{
    background-color: blue;
}

.fondo{
    background-color: aqua;
}

p{
    font-size: 15px;
    color: brown;
}

h3{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
strong{
    color: blue;
}

.tituloprincipal{
    color: rgb(255, 300, 0, 0.5);
}

.tabla{
    border-collapse: collapse;
    width: 50%;
}
td{
    border: 1px solid black;
}

.imagen{
    border-radius: 20px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.8);
    
}
 /* .container{
    display: flex;
     flex-wrap: nowrap; 
    

}  */

/* lista  */
  .container{
    display: flex;
    justify-content: center;
  }


/* imagen */
/* .contenedor{
    display: flex;
    flex-direction: column;
} */

.contenedor{
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
}


/* .box{
    border: 2px solid black;
    height: 300px;
   margin-bottom: 300px;
   position: relative;
}
.box .one{
    border: 2px solid red;
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 0%; 
     top: 0%;
    right: 0px;
} */


/* menu fijo 
.box{
    border: 2px solid black;
    height: 300px;
   margin-bottom: 300px;
   
}
.box .one{
    border: 2px solid red;
    width: 50px;
    height: 50px;
    position: fixed;
    top: 0px;
} */


/* margin y padin  */
/* .box{
    border: 2px solid black;
    height: 300px;
   margin-bottom: 300px;
   
}
.box .one{
    border: 2px solid red;
    width: 50px;
    height: 50px;
    margin: 20px;

    margin-top: 50px;
    margin-left: 100px;
    margin: 100px 10px 20px 100px;

} */

/* display flex recomendado  */

.box{
    border: 2px solid black;
    height: 300px;
   margin-bottom: 300px;
   display: flex;
   justify-content: center;
   align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.box .one{
    border: 2px solid red;
    width: 50px;
    height: 50px;
    display: flex;
   justify-content: center;
   align-items: center;

}



.rojo {
    color: red;
    font-weight: bold;
}